* {margin: 0;padding: 0;box-sizing: border-box;}
.Banner {
    position:fixed;top:0;left:0;height: 45px;width: 100%;
    display:flex;justify-content: flex;align-items: center;
    background: #904E99;color:white;
}
.Banner h1 {
  height:40px;display:flex;align-items: center;padding:10px;
}
.Banner .NavLinks {
    width:445px;height:40px;
    display:flex;justify-content: center;align-items: center;
    gap:30px;margin-left: auto;
}
.AboutMe-Container {
display:flex;justify-content: center;align-items: center;
gap:75px;padding: 0 50px;margin:100px 0px 100px 0px;
}
.DefaultIcon img {
    height:250px;display:flex;justify-content: center;align-items: left;
    border-radius:125px;
    
}
.AbtMe {
    
    flex: 1;font-size: 28px;
}
.SectionTitle {
  display:flex;align-items: center;justify-content: center;
  margin:100px 0px 0px 0px;padding: 0 50px;
}
.SectionTitle h1 {
  font-size: 35px;
}
.Projects-Section {
  display:flex;justify-content: center;align-items: center;
  margin:100px 0px 100px 0px;padding:0 50px;
  gap:50px
}
.Projects-desc p{
  font-size:25px;
}
.Projects-img img{
  height: 350px;display:flex;width: 350px;
}
.Skills-Section, .Contact-Container  {
  display:flex;justify-content: center;align-items: center;
  margin:100px 0px 100px 0px;


}
.SkillSVGIcons,.Contact-Section {
  flex-wrap: wrap;width: 50vw;justify-content: space-evenly;
  display:flex;align-items: center; padding:10px 10px;
}
.Skills-Section img, .Contact-Section img{
  height: 118px;width: 124px;margin-left:20px;margin-bottom: 13px;margin-top: 13px;
  margin-right: 20px;
}
.Hr {
  display:flex;justify-content: center;align-items: center;
  padding:10px 10px;
}
hr {
  color:#904E99;width: 97vw;margin: 0px 0px 0px 0px;
}
.DLButton-Container {
  display:flex;justify-content: center;align-items: center;
  margin:100px 0px 100px 0px;
}
.Btn button {
  width: 305px;
  height: 73px;border-radius:25px;font-size: 25px;font-weight: 700;
  background:#904E99;border:0px solid white;color:white;
}

.Footer-Container {
  display:flex;justify-content:center ;align-items: center;
  font-size:30px;height: 107px;background: rgba(217, 217, 217, 0.55);
}
