* {margin: 0px 0px 0px 0px;padding: 0px 0px;box-sizing: border-box;}

body {
  font-family: Inter, sans-serif;
  line-height: 1.6;
  background-color: whitesmoke; 
  color: black;  /* Default text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;        
}

#root {
  width: 100%;
}

@media (max-width: 768px) {
  body {
    font-size: 14px; 
  }
  .banner {
    padding: 1rem;
  }
}